.collections {
  margin-top: 4.5rem;
  max-width: 1323px;


  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      @include scale-fontsize($fontsize: 3rem);
      margin-bottom: 1em;
      text-transform: uppercase;
    }
    p {
      @include scale-fontsize($fontsize: 1.8rem);
      color: $tertiary-color;
      margin-bottom: 1em;
    }
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
    }

    .collections__image-hover {
      opacity: 0;
      position: absolute;
      inset: 0;
      background-color: #fff;
      // transition: opacity $transition-regular;
      animation: changePicture 5000ms infinite linear;
    }
  }
}

@keyframes changePicture {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}